[submodule "SUBMODULES/BASE.Documentation"]
	path = SUBMODULES/BASE.Documentation
	url = https://github.com/skysgh/BASE.Documentation.git
[submodule "SUBMODULES/BASE.Module.Template"]
	path = SUBMODULES/BASE.Module.Template
	url = https://github.com/skysgh/BASE.Module.Template.git
[submodule "SUBMODULES/BASE.Modules.Core"]
	path = SUBMODULES/BASE.Modules.Core
	url = https://github.com/skysgh/BASE.Modules.Core.git
[submodule "SUBMODULES/BASE.Modules.Base"]
	path = SUBMODULES/BASE.Modules.Base
	url = https://github.com/skysgh/BASE.Modules.Base.git
[submodule "SUBMODULES/BASE.Modules.Base.wiki"]
	path = SUBMODULES/BASE.Modules.Base.wiki
	url = https://github.com/skysgh/BASE.Modules.Base.wiki.git
